{% include "header.html" %}

<title>Competitions</title>
</head> <!-- <head> in the header - End -->



<body>
{% include "bar.html" %}

{% include "after-bar.html" %}
<br>


<a class="btn btn-default" href={{ url_for('guest_type_templates_add') }}>Add a competition</a>

<br>
<br>
<br>
<br>

<!-- For every t in template print(t)-->
<table align="center" class="c" >
    <tr>
        <th>ID</th>
        <th>Guest type</th>
        <th>ISO path</th>
        <th>Edit</th>
    </tr>
    {% for element in output_data %}
    <tr>
        <td>{{element[0]}}</td>
        <td>{{element[1]}}</td>
        <td>{{element[2]}}</td>
        <td><a href={{ url_for('guest_type_templates_edit') }}?ID={{element[0]}}>EDIT</a></td>
    </tr>
    {% endfor %}

</table>


</body>


{% include "footer.html" %}

