<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random</title>
</head>
<body>
<h1>Random numbers are fun!</h1>

<form action="{{ url_for('install') }}" method="post">
    Pick a lower limit: <input type="text" placeholder="cv.rit.edu" name="vcip" > <br>
    Pick a lower limit: <input type="text" placeholder="Datacenter" name="dcname" > <br>
    Pick a lower limit: <input type="text" placeholder="rit.edu" name="domain" > <br>
    Pick a lower limit: <input type="submit" value="Next">
</form>

</body>
</html>