<div class="form1">
            {% if vmtype is defined %}
                <h3 >Add a {{vmtype}} instance for {{COMPETITION_NAME}}.</h3>
            {% else %}
                <h3 >Add a VM instance.</h3>
            {% endif %}


    <form class="form1" action="/competitions_vm_add" method="POST">
        <tr>

            {% if COMPETITION_NAME is defined %}
                <p><td>Competition name <input type="text" name="COMPETITION_NAME" value="{{COMPETITION_NAME}}" readonly></td></p>
                <p><td><input type="hidden" name="tobedeployed" value="1"></td></p>
            {% else %}
                <p><td>Competition name <input type="text" value="" placeholder="Co1" name="COMPETITION_NAME"></td></p>
                <p><td><input type="hidden" name="tobedeployed" value="0"></td></p>

            {% endif %}

            {% if TEAM is defined %}
                <p><td>Team name <input type="text" name="TEAM" value="Undefinedtable" readonly></td></p>
            {% else %}
            <p><td>Team name <input type="text" value="" placeholder="Tigers1" name="TEAM"></td></p>
            {% endif %}

            {% if vmtype is defined %}
            <p><td>VM name <input type="text" value="" placeholder="{{vmtype}}" name="VM_NAME"></td></p>
            {% else %}
            <p><td>VM name <input type="text" value="" placeholder="Windows_7" name="VM_NAME"></td></p>
            {% endif %}

            <p><td>CPUs <input type="text" value="" placeholder="2" name="CPU"></td></p>
            <p><td>Memory <input type="text" value="" placeholder="1024" name="MEMORY"></td></p>
            <p><td>Guest Type
                <select name="GUEST_OS_TYPE">
                    <option value="ubuntu64Guest">Ubuntu 18 64bit</option>
                    <option value="windows9_64Guest">Windows 10 64bit</option>
                    <option value="darwin16_64Guest">MacOS</option>
                    <option value="TODO">Audi</option>
                </select>
            </td>
            </p>


            <p><td><input type="submit" value="Start"></td></p>



        </tr>
    </form>
</div>
