<div class="form1">
    <h3 >Add a team</h3>
    <form class="form1" action="/competitions_team_add" method="POST">
        <tr>
            <p><td>Competition name <input type="text" value="" placeholder="Co1" name="COMPETITION_NAME"></td></p>
            <p><td>Team name <input type="text" value="" placeholder="Tigers" name="TEAM"></td></p>
            <p><td>Team Domain <input type="text" value="" placeholder="Example.com" name="DOMAIN_NAME"></td></p>
            <p><td>Subnet <input type="text" value="" placeholder="10.1.1.0/24" name="SUBNET"></td></p>
            <p><td>Gateway <input type="text" value="" placeholder="10.1.1.254" name="GATEWAY"></td></p>
            <p><td>DNS server <input type="text" value="" placeholder="8.8.8.8" name="DNS_SERVER1"></td></p>
            <p><td>NIC/PortGroup <input type="text" value="" placeholder="Group100" name="NIC"></td></p>
            <p><td><input type="submit" value="Start"></td></p>
        </tr>
    </form>
</div>