<div class="form1">
    <h3 >Add a competition</h3>
    <form class="form1" action="/competitions_add" method="POST">
        <p>Competition name <input type="text" value="" placeholder="Competition name" name="UNAME"></p>
        <p>Teams <input type="text" value="" placeholder="2" name="TEAMS"></p>
        <p><td>How many Windows VMs per team <input type="text" value="" placeholder="2" name="WIN_VMS"></td></p>
        <p><td>How many Unix VMs per team <input type="text" value="" placeholder="4" name="UNIX_VMS"></td></p>
        <p><input type="submit" value="Start"></p>
    </form>
</div>