{% include "header.html" %}

<title>Competitions</title>
</head> <!-- <head> in the header - End -->



<body>
{% include "bar.html" %}

{% include "after-bar.html" %}

<br>
VMs
<br>


<div class="form1">
    <h3 >Add a vm</h3>
    <form class="form1" action="/competitions_vm_edit" method="POST">
        <tr>
            {% for element in output_data %}
            <input type="hidden" id="ID" name="ID" value="{{element[0]}}">
            <p><td>Competition name <input type="text" value="" placeholder="{{element[1]}}" name="COMPETITION_NAME" readonly></td></p>
            <p><td>Team name <input type="text" value="" placeholder="{{element[2]}}" name="TEAM" readonly></td></p>
            <p><td>VM name <input type="text" value="" placeholder="{{element[3]}}" name="VM_NAME" readonly></td></p>
            <p><td>CPUs <input type="text" value="" placeholder="{{element[4]}}" name="CPU"></td></p>
            <p><td>Memory <input type="text" value="" placeholder="{{element[5]}}" name="MEMORY"></td></p>
            <p><td>Guest type <input type="text" value="" placeholder="{{element[6]}}" name="GUEST_OS_TYPE" readonly></td></p>
            {% endfor %}
            <p><td><input type="submit" value="Submit changes"></td></p>
        </tr>
    </form>
</div>



</body>


{% include "footer.html" %}

