{% include "header.html" %}

<title>Competitions</title>
</head> <!-- <head> in the header - End -->



<body>
{% include "bar.html" %}

{% include "after-bar.html" %}

<br>
Edit a competition
<br>
<!--Form starting point-->
<div class="form1">
    <form class="form1" action="/competitions_edit" method="POST">


<table align="center" cellspacing="25" >
    <tr>
        <th>Name</th>
        <th>Teams</th>
        <th>Edit</th>
        <th>Edit</th>
    </tr>
    {% for element in output_data %}
    <tr>
        <td><h3>Edit {{element[1]}}</h3></td>
        <input type="hidden" id="ID" name="ID" value="{{element[0]}}">
        <td><input type="text" value="" placeholder="{{element[1]}}" name="UNAME"> </td>
        <td><input type="text" value="" placeholder="{{element[2]}}" name="TEAMS"> </td>
        <td><input type="submit" value="Submit changes"></p></td>
    </tr>
    {% endfor %}
</table>


        <!--Form ending point-->
    </form>
</div>


</body>


{% include "footer.html" %}

