{% include "header.html" %}

<title>Competitions</title>
</head> <!-- <head> in the header - End -->



<body>
{% include "bar.html" %}

{% include "after-bar.html" %}

<br>
Competitions
<br>

<!--Form starting point-->
<div class="form1">
    <form class="form1" action="/competitions_team_edit" method="POST">

<table align="center" cellspacing="25" >
    <tr>
        <th>ID</th>
        <th>Competition Name</th>
        <th>Team Name</th>
        <th>Domain</th>
        <th>Subnet</th>
        <th>Gateway</th>
        <th>DNS server</th>
        <th>NIC/PortGroup</th>
        <th>Edit</th>
    </tr>
    {% for element in output_data %}
    <tr>
        <td><h3>Edit {{element[2]}}</h3></td>
        <input type="hidden" id="ID" name="ID" value="{{element[0]}}">
        <td>
            <select name="COMPETITION_NAME">
                    {% for c in COMPS %}
                    <option value="{{c[1]}}">{{c[1]}}</option>
                    {% endfor %}
            </select>
        </td>
        <td><input type="text" value="" placeholder="{{element[2]}}" name="TEAM"> </td>
        <td><input type="text" value="" placeholder="{{element[3]}}" name="DOMAIN_NAME"> </td>
        <td><input type="text" value="" placeholder="{{element[4]}}" name="SUBNET"> </td>
        <td><input type="text" value="" placeholder="{{element[5]}}" name="GATEWAY"> </td>
        <td><input type="text" value="" placeholder="{{element[6]}}" name="DNS_SERVER1"> </td>
        <td><input type="text" value="" placeholder="{{element[7]}}" name="NIC"> </td>
        <td><input type="submit" value="Submit changes">/td>
    </tr>
    {% endfor %}
</table>

        <!--Form ending point-->
    </form>
</div>


</body>


{% include "footer.html" %}

