{% if step == "PAGE_CREATE_COMP" %}

<form action="{{ url_for('competitions_wizard') }}" method="post">

    <p>Competition name <input type="text" value="" placeholder="Competition name" name="UNAME"></p>
    <p>How many teams <input type="text" value="" placeholder="2" name="TEAMS"></p>
    <p>How many Windows VMs <input type="text" value="" placeholder="2" name="WIN_VMS"></p>
    <p>How many Unix VMs <input type="text" value="" placeholder="4" name="UNIX_VMS"></p>

    <input type=hidden name="step" value="PAGE_2">
    <input type="submit" value="Next">
</form>

{% elif step == "PAGE_CREATE_TEAM" %}

<br>
Creating a team for {{UNAME}}.
<br>

<form action="{{ url_for('competitions_wizard') }}" method="post">
    <input type="hidden" name="UNAME" value="{{UNAME}}" readonly>

    <p>Competition name <input type="text" value="{{UNAME}}" placeholder="{{UNAME}}" name="COMPETITION_NAME" readonly></p>
    <p>Team name <input type="text" value="" placeholder="{{TEAM}}" name="TEAM"></p>
    <p>Team Domain <input type="text" value="" placeholder="Example.com" name="DOMAIN_NAME"></p>
    <p>Subnet <input type="text" value="" placeholder="10.1.1.0/24" name="SUBNET"></p>
    <p>Gateway <input type="text" value="" placeholder="10.1.1.254" name="GATEWAY"></p>
    <p>DNS server <input type="text" value="" placeholder="8.8.8.8" name="DNS_SERVER1"></p>
<!--    <p>DNS server <input type="text" value="" placeholder="8.8.8.8" name="DNS_SERVER2"></p>-->
    <p>NIC/PortGroup <input type="text" value="" placeholder="Group100" name="NIC"></p>

<!-- Next one -->
    <input type="hidden" name="step" value="PAGE_CREATE_TEAM">
    <input type="submit" value="Generate">
</form>


{% elif step == "PAGE_3_PICK" %}

<form action="{{ url_for('competitions_wizard') }}" method="post">
    <input type="hidden" name="UNAME" value="{{UNAME}}" readonly>
    <select name="TEAM">
        {% for e in TEAMS %}
        <option value="{{e}}">{{e}}</option>
        {% endfor %}
    </select>
    </p>

    <!-- Next one -->
    <input type="hidden" name="step" value="PAGE_CREATE_TEAM">
    <input type="submit" value="Generate">

</form>

{% elif step == "PAGE_3_PICK_VMS" %}

<form action="{{ url_for('competitions_wizard') }}" method="post">
    <input type="hidden" name="UNAME" value="{{UNAME}}" readonly>
    <select name="TEAM">
        {% for e in TEAMS %}
        <option value="{{e}}">{{e}}</option>
        {% endfor %}
    </select>
    </p>

    <!-- Next one -->
    <input type="hidden" name="step" value="PAGE_CREATE_TEAM">
    <input type="submit" value="Generate">

</form>



{% elif step == "PAGE_CREATE_VM" %}

<br>
Creating a vm instance for {{COMPETITION_NAME}}.
<br>

<form action="{{ url_for('competitions_wizard') }}" method="post">

    <p>Competition name <input type="text" name="COMPETITION_NAME" value="{{COMPETITION_NAME}}" readonly></p>
    <p>Domain name <input type="text" name="DOMAIN_NAME" value="{{DOMAIN_NAME}}" readonly></p>
    <p>Network <input type="text" name="SUBNET" value="{{SUBNET}}" readonly></p>
    <p>Gateway <input type="text" name="GATEWAY" value="{{GATEWAY}}" readonly></p>
    <p>DNS server <input type="text" name="DNS_SERVER1" value="{{DNS_SERVER1}}" readonly></p>
    <p>Team name <input type="text" name="TEAM" value="{{TEAM}}" readonly></p>
<!--    <p>DNS server <input type="text" name="DNS_SERVER1" value="{{DNS_SERVER2}}" readonly></p>-->

    <p>VM name <input type="text" value="" placeholder="Windows_7" name="VM_NAME">
<!--    <p>VM IP <input type="text" value="" placeholder="10.1.1.1" name="VM_IP"></p>-->
    <p>CPUs <input type="text" value="" placeholder="2" name="CPU"></p>
    <p>Memory <input type="text" value="" placeholder="1024" name="MEMORY"></p>
    <p>Guest Type
    <select name="GUEST_OS_TYPE">
        <option value="ubuntu64Guest">Ubuntu 18 64bit</option>
        <option value="windows9_64Guest">Windows 10 64bit</option>
        <option value="darwin16_64Guest">MacOS</option>
        <option value="TODO">Audi</option>
    </select>
    </p>

<!-- Next one -->
    <input type="hidden" name="step" value="PAGE_CREATE_VM">
    <input type="submit" value="Generate">
</form>


{% elif step == "PAGE_5" %}

<br>
This is a summary
<br>

{% include "competition_summary.html" %}


{% endif %}